{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<main class="flex-grow-1">
    <div class="container mt-4">
        <div class="p-5 mb-4 bg-light border rounded-3">
            <div class="container-fluid py-4">
                <h1 class="display-2">
                    Это менеджер задач
                </h1>
                <hr>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-primary btn-lg">
                    Знать меньше
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}