{% extends 'base.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
<main class="flex-grow-1">
    <div class="container mt-4">
        <div class="p-5 mb-4 bg-light border rounded-3">
            <div class="container-fluid py-4">

                <h1 class="display-2">
                    Привет от Хекслета!
                </h1>
                <p class="fs-2">
                    Практические курсы по программированию
                </p>
                <hr>
                <a href="#" class="btn btn-primary btn-lg">
                    Узнать больше
                </a>
            </div>
        </div>
    </div>
</main>
{% endblock %}